<body>
  
  <section class='slides layout-regular template-default'>
    <article>
      <h1> Dicas de Meteor </h1>
      <img style="float: right; height: 35%; " src="images/meteor-animated.gif" />
      <br>
      <p>
        Gabriel Pugliese
      </p>
      <ul>
          <li><i class="fa fa-twitter-square"></i> <a href="https://twitter.com/gabrielsapo" target="_blank"> @gabrielsapo</a></li>
          <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/+GabrielPugliese" target="_blank">+gabrielpugliese</a></li>
          <li><i class="fa fa-github-square"></i> <a href="https://github.com/gabrielhpugliese" target="_blank">gabrielhpugliese</a></li>
      </ul>
    </article>
    
    <article>
      <h3> 7 princípios do Meteor </h3>
      <img style="float: right; height: 35%; " src="images/meteor.png" />
      <ul>
        <li>
          <span class="bolder">Data on the Wire:</span> Não enviar HTML pela rede. Enviar dados.
        </li>
        <li>
          <span class="bolder">One Language:</span> Escrever Javascript no cliente e no servidor. 
        </li>
        <li>
          <span class="bolder">Database Everywhere:</span> Usar a mesma API para acessar o banco de dados no cliente e no servidor.
        </li>
        <li>
          <span class="bolder">Latency Compensation:</span> Usar <i>prefetching</i> e simulação de modelo para emular latência zero
        </li>
        <li>
          <span class="bolder">Full Stack Reactivity:</span> Tempo-real no site é padrão.
        </li>
        <li>
          <span class="bolder">Embrace the Ecosystem:</span> Ser <i>open source</i> e integrar com outras ferramentas open source.
        </li>
        <li>
          <span class="bolder">Simplicity Equals Productivity:</span> A melhor maneira de parecer simples é ser simples.
        </li>
      </ul>
    </article>
    
    <article>
      <h3>Exemplos</h3>
      <ul>
        <li><b>Meteor.com:</b> Próprio site do Meteor</li>
        <li><b>CodersTV:</b> Plataforma de conteúdo em vídeo para desenvolvedores.</li>
        <li><b>Futuro site da Engarte:</b> Plataforma social para engenheiros e arquitetos.</li>
        <li><b>Discover Meteor:</b> Site-livro feito pelo co-criador do Meteor.</li>
        <li><b>Made With:</b> Sites e apps feitos pela comunidade de Meteor.</li>
      </ul>
    </article>
      
    <article>
      <h1>
        Algumas dicas para facilitar a vida! 
      </h1>
    </article>
    
    <article>
      <h1>
        Template
      </h1>
    </article>

    <article>
      <h3>Template</h3>
      <section>
{{#markdown}}
```html
<template name="myTemplate">
\{{myFunc}}
\{{#each listOfBooks}}
  \{{info.someinfo}}
  <button>Click here</button>
\{{/each}}
\{{> myOtherTemplate}}
\{{#with myBlockHelper}}
  \{{this.title}}: \{{this.author}}
\{{/with}}
</template>
```
{{/markdown}}
      </section>

    <ul>
      <li>Separe seu HTML em templates menores para facilitar a manutenção.</li>
      <li>Se precisar de um helper em diferentes templates, registre ele (está mais pra frente).</li>
    </ul>
    </article>
    
    <article>
      <h3>Template helpers</h3>
      <section>
{{#markdown}}
```javascript
Template['myTemplate'].helpers({
  myFunc: function () {
    var allDivs = this.findAll('div');
    var someId = this.find('#id');
    $(allDivs).myjQueryPlugin();

    return [1,2,3];
  },
  myBlockHelper: function () {
    return Books.findOne();
  },
  listOfBooks: function () {
    return Books.find();
  }
});
```
{{/markdown}}
      </section>
      <ul>
        <li>Use os seletores do template ao invés dos seletores do document.</li>
      </ul>
    </article>

    <article>
      <h3>Template events</h3>
        <section>
{{#markdown}}        
```javascript
Template.myTemplate.events({
  'click button': function (event, template) {
    event.preventDefault();
    doSomething();
    console.log(this._id);
  }
});
```
{{/markdown}}
        </section>
      <ul>
        <li>Use os seletores do template ao invés dos seletores do document.</li>
        <li>Utilize o contexto do evento para pegar informações do elemento.</li>
      </ul>
    </article>

    <article>
      <h3>Handlebars.registerHelper</h3>
      <section>
{{#markdown}}
```javascript
Handlebars.registerHelper('myGlobalHelper', function () {
  return Meteor.userId() || Meteor.uuid();
});

// Example from meteor-marked
// Must use like a block helper
Handlebars.registerHelper('markdown', function (options) {
  return marked(options.fn(this));
});
```
{{/markdown}}
      </section>
    </article>
    
    <article>
      <h1>
        Segurança e Validação
      </h1>
    </article>

    <article>
      <h1>
        Mongo
      </h1>
    </article>
    
    <article>
      <h2>Obrigado</h2>
      <ul>
        <li>
          <a target="_blank" href="http://docs.meteor.com">meteor.com</a>
        </li>
        <li>
          <a target="_blank" href="https://www.friendtrumps.com">friendtrumps.com</a>
        </li>
        <li>
          <a target="_blank" href="http://telesc.pe/">telesc.pe</a>
        </li>
        <li>
          <a target="_blank" href="http://www.eventedmind.com/">eventedmind.com</a> - Vídeos avançados
        </li>
      </ul>
    </article>
  </section>
</body>

