<body>
  <section class='slides layout-regular template-default'>
    <article>
      <h1> Dicas de Meteor </h1>
      <img style="float: right; height: 35%; " src="images/meteor-animated.gif" />
      <br>
      <p>
        Gabriel Pugliese
      </p>
      <ul>
          <li><i class="fa fa-twitter-square"></i> <a href="https://twitter.com/gabrielsapo" target="_blank"> @gabrielsapo</a></li>
          <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/+GabrielPugliese" target="_blank">+gabrielpugliese</a></li>
          <li><i class="fa fa-github-square"></i> <a href="https://github.com/gabrielhpugliese" target="_blank">gabrielhpugliese</a></li>
      </ul>
    </article>
    
    <article>
      <h3> 7 princípios do Meteor </h3>
      <img style="float: right; height: 35%; " src="images/meteor.png" />
      <ul>
        <li>
          <span class="bolder">Data on the Wire:</span> Não enviar HTML pela rede. Enviar dados.
        </li>
        <li>
          <span class="bolder">One Language:</span> Escrever Javascript no cliente e no servidor. 
        </li>
        <li>
          <span class="bolder">Database Everywhere:</span> Usar a mesma API para acessar o banco de dados no cliente e no servidor.
        </li>
        <li>
          <span class="bolder">Latency Compensation:</span> Usar <i>prefetching</i> e simulação de modelo para emular latência zero
        </li>
        <li>
          <span class="bolder">Full Stack Reactivity:</span> Tempo-real no site é padrão.
        </li>
        <li>
          <span class="bolder">Embrace the Ecosystem:</span> Ser <i>open source</i> e integrar com outras ferramentas open source.
        </li>
        <li>
          <span class="bolder">Simplicity Equals Productivity:</span> A melhor maneira de parecer simples é ser simples.
        </li>
      </ul>
    </article>
    
    <article>
      <h3>Exemplos - Meteor.com</h3>
      {{#constant}}
        <iframe src="http://meteor.com/" seamless="seamless" frameborder="0"></iframe>
      {{/constant}}
    </article>

    <article>
        <h3>CodersTV</h3>
        {{#constant}}
          <iframe src="http://coderstv.com/"  seamless="seamless" frameborder="0"></iframe>
        {{/constant}}
    </article>
    <article>
        <h3></h3>
        {{#constant}}
          <iframe src="http://engarte-campus.meteor.com/"  seamless="seamless" frameborder="0"></iframe>
        {{/constant}}
    </article>
    <article>
        <h3></h3>
        {{#constant}}
          <iframe src="http://sedimently.com/"  seamless="seamless" frameborder="0"></iframe>
        {{/constant}}
    </article>
    <article>
        <h3></h3>
        {{#constant}}
          <iframe src="https://www.discovermeteor.com/"  seamless="seamless" frameborder="0"></iframe>
        {{/constant}}
    </article>
    <article>
        <h3></h3>
        {{#constant}}
          <iframe src="http://madewith.meteor.com/" seamless="seamless" frameborder="0"></iframe>
        {{/constant}}
    </article>
      
    <article>
      <h1>
        Algumas dicas para facilitar a vida! 
      </h1>
    </article>
    
    <article>
      <h1>
        Template
      </h1>
    </article>

    <article>
      <h3>Template</h3>
      <section>
{{#markdown}}
```html
<template name="myTemplate">
\{{myFunc}}
\{{#each listOfBooks}}
  \{{info.someinfo}}
  <button>Click here</button>
\{{/each}}
\{{> myOtherTemplate}}
\{{#with myBlockHelper}}
  \{{this.title}}: \{{this.author}}
\{{/with}}
</template>
```
{{/markdown}}
      </section>

    <ul>
      <li>Separe seu HTML em templates menores para facilitar a manutenção.</li>
      <li>Se precisar de um helper em diferentes templates, registre ele (está mais pra frente).</li>
    </ul>
    </article>
    
    <article>
      <h3>Template helpers</h3>
      <section>
{{#markdown}}
```javascript
Template['myTemplate'].helpers({
  myFunc: function () {
    var allDivs = this.findAll('div');
    var someId = this.find('#id');
    $(allDivs).myjQueryPlugin();

    return [1,2,3];
  },
  myBlockHelper: function () {
    return Books.findOne();
  },
  listOfBooks: function () {
    return Books.find();
  }
});
```
{{/markdown}}
      </section>
      <ul>
        <li>Use os seletores do template ao invés dos seletores do document.</li>
      </ul>
    </article>

    <article>
      <h3>Template events</h3>
        <section>
{{#markdown}}        
```javascript
Template.myTemplate.events({
  'click button': function (event, template) {
    event.preventDefault();
    doSomething();
    console.log(this._id);
  }
});
```
{{/markdown}}
        </section>
      <ul>
        <li>Use os seletores do template ao invés dos seletores do document.</li>
        <li>Utilize o contexto do evento para pegar informações do elemento.</li>
      </ul>
    </article>

    <article>
      <h3>Handlebars.registerHelper</h3>
      <section>
{{#markdown}}
```javascript
Handlebars.registerHelper('myGlobalHelper', function () {
  return Meteor.userId() || Meteor.uuid();
});

// Example from meteor-marked
// Must use like a block helper
Handlebars.registerHelper('markdown', function (options) {
  return marked(options.fn(this));
});
```
{{/markdown}}
      </section>
    </article>
    
    <article>
      <h1>
        Segurança e Validação
      </h1>
    </article>

    <article>
      <h3>Regras Allow/Deny</h3>
      <section>
{{#markdown}}
```javascript
Books.allow({
  insert: function (userId, doc) {
    return userId && doc.ownerId === userId;
  }
});

// Or
Books.deny({
  insert: function (userId, doc) {
    return userId && doc.ownerId !== userId;
  }
})
```
{{/markdown}} 
      </section>
      <ul>
        <li>Usar esse método para validação client ou server side.</li>
        <li>Não esquecer de tirar o pacote insecure.</li>
      </ul>
    </article>

    <article>
      <h3>Função check()</h3>
      <section>
{{#markdown}} 
```javascript
Meteor.methods({
  insertBook: function (title, author, year) {
    check(title, String);
    check(author, String);
    check(year, Number);

    // do your stuff
  }
});

// In an object
var pat = { name: Match.Optional(String)  };
check({ name: "something"  }, pat) // OK
check({}, pat) // OK
check({ name: undefined  }, pat) // Throws an exception

// Outside an object
check(undefined, Match.Optional(String)); // OK
```
{{/markdown}} 
      </section>
    </article>

    <article>
      <h3>Função check()</h3>
      <ul>
        <li>Sempre em server-side.</li>
        <li>Pode ser dentro de publications também.</li>
        <li>Se algum parâmetro for Object, pode checar um pattern.</li>
      </ul>
    </article>

    <article>
      <h1>
        Pacotes úteis
      </h1>
    </article>

    <article>
      <h3>npm</h3>
      <section>
{{#markdown}}
```javascript
var 
  googleapis = Meteor.require('googleapis'),
  Twit = Meteor.require('twit')
;
```
{{/markdown}}
      </section>
      <section>
{{#markdown}}
```javascript
// packages.json
{
  "googleapis": "0.2.12-alpha",
  "twit": "1.1.8"
}
```
{{/markdown}}
      </section>
    </article>

    <article>
      <h3>collection-hooks</h3>
      <section>
{{#markdown}}
```javascript
Fiber = Npm.require('fibers'); 

function sendFollowEmail (userId, doc) {
  var followers = Followers.find({ coderId: doc.owner }).fetch();

  _.each(followers, function (follower) {
    Fiber(function () {
      Email.send({/* all params of email.send */});
    }).run();
  });
}

Channels.after.insert(function (userId, doc) {
  sendFollowEmail(userId, doc);
});
```
{{/markdown}}
      </section>
    </article>

    <article>
      <h3>iron-router</h3>
      <section>
{{#markdown}} 
```javascript
Router.map(function () {
  this.route('index', {
    layoutTemplate: 'indexLayout',
    path: '/',
    waitOn: function () {
      return [
        Meteor.subscribe('Channels'),
        Meteor.subscribe('Languages')
      ]
    },
    before: function () {
      document.title = 'Watch programming videos or broadcast'
        + 'your coder skills with the world | CodersTV';
    }  
  });
});
```
{{/markdown}} 
      </section>
    </article>

    <article>
      <h3>meteor-boilerplate (não é um pacote :P)</h3>
      <ul>
        <li>Comprehensive folder structure</li>
        <li>TDD / BDD with laika</li>
        <li>Multi page apps with iron-router</li>
        <li>A way to load fixtures (as of now no external packages used for that)</li>
        <li>meteor-boilerplate console tool, which helps on creating views, routes and so on</li>
      </ul>
      <section>
{{#markdown}}
```bash
> ./meteor-boilerplate create:view index
Successfully created a view called "index"

> ./meteor-boilerplate create:model Books
Successfully created a model called "Books" 
(with files in model, client/subscriptions and server/publications)
```
{{/markdown}}
      </section>
    </article>
    
    <article>
      <h2>Obrigado</h2>
      <p>
        Gabriel Pugliese
      </p>
      <ul>
          <li><i class="fa fa-twitter-square"></i> <a href="https://twitter.com/gabrielsapo" target="_blank"> @gabrielsapo</a></li>
          <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/+GabrielPugliese" target="_blank">+gabrielpugliese</a></li>
          <li><i class="fa fa-github-square"></i> <a href="https://github.com/gabrielhpugliese" target="_blank">gabrielhpugliese</a></li>
      </ul>
    </article>
  </section>
</body>

