<body>
  
  <section class='slides layout-regular template-default'>
    <article>
      <h1> Meteor </h1>
      <img style="float: right; height: 35%; " src="images/meteor-animated.gif" />
      <br>
      <p>
        Gabriel Pugliese
      </p>
      <ul>
          <li><i class="fa fa-twitter-square"></i> <a href="https://twitter.com/gabrielsapo" target="_blank"> @gabrielsapo</a></li>
          <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/+GabrielPugliese" target="_blank">+gabrielpugliese</a></li>
          <li><i class="fa fa-github-square"></i> <a href="https://github.com/gabrielhpugliese" target="_blank">gabrielhpugliese</a></li>
      </ul>
    </article>
    
    <article>
      <h3> 7 princípios do Meteor </h3>
      <img style="float: right; height: 35%; " src="images/meteor.png" />
      <ul>
        <li>
          <span class="bolder">Data on the Wire:</span> Não enviar HTML pela rede. Enviar dados.
        </li>
        <li>
          <span class="bolder">One Language:</span> Escrever Javascript no cliente e no servidor. 
        </li>
        <li>
          <span class="bolder">Database Everywhere:</span> Usar a mesma API para acessar o banco de dados no cliente e no servidor.
        </li>
        <li>
          <span class="bolder">Latency Compensation:</span> Usar <i>prefetching</i> e simulação de modelo para emular latência zero
        </li>
        <li>
          <span class="bolder">Full Stack Reactivity:</span> Tempo-real no site é padrão.
        </li>
        <li>
          <span class="bolder">Embrace the Ecosystem:</span> Ser <i>open source</i> e integrar com outras ferramentas open source.
        </li>
        <li>
          <span class="bolder">Simplicity Equals Productivity:</span> A melhor maneira de parecer simples é ser simples.
        </li>
      </ul>
    </article>
    
    <article>
      <h3>Exemplos</h3>
      <ul>
        <li><b>Meteor.com:</b> Próprio site do Meteor</li>
        <img style="border: 1px solid; width: 100%;" class="centered" src="images/telescope_demo.png" />
      </ul>
    </article>
      
    <article>
      <h3>Exemplos</h3>
      <ul>
        <li><b>Discover Meteor:</b> Site-livro feito pelo co-criador do Meteor.</li>
        <img style="border: 1px solid; width: 100%;" class="centered" src="images/telescope_demo.png" />
      </ul>
    </article>
    
    <article>
      <h3>Exemplos</h3>
      <ul>
        <li><b>CodersTV:</b> Plataforma de conteúdo em vídeo para desenvolvedores.</li>
        <img style="border: 1px solid; width: 100%;" class="centered" src="images/friendtrumps.png" />
      </ul>
    </article>
    
    <article>
      <h3>Exemplos</h3>
      <ul>
        <li><b>Made With:</b> Sites feitos pela comunidade de Meteor.</li>
        <img style="border: 1px solid; width: 100%;" class="centered" src="images/telescope_demo.png" />
      </ul>
    </article>
    
    <article>
      <h1>Objetivo</h1>
      <p>
        Aprender Meteor copiando a tela de propostas do bonoevento
      </p>
    </article>
    
    <article>
      <h1>Cold Start</h1>
      <p>
        Criando e rodando um projeto na linha de comando (Linux)
      </p>
    </article>
    
    <article>
      <h3>Conceitos básicos</h3>
      <ul>
        <li>Meteor: funções e atributos</li>
        <li>Template Helpers</li>
        <li>Template Events</li>
        <li>Handlebars</li>
        <li>Código do servidor (Node.js + Fibers): não é como <i>async callbacks</i> mas thread única por request</li>
        <li>Código do cliente: empacotado e minificado (em produção)</li>
      </ul>
    </article>
    
    <article>
      <h3>Linha de comando</h3>
      <ul>
        <li>meteor create</li>
        <li>meteor run</li>
        <li>
          meteor add <i>package</i>
          <ul>
            <li>jquery</li>
            <li>bootstrap</li>
            <li>underscore</li>
            <li>coffeescript</li>
            <li><b>accounts-ui</b></li>
          </ul>
        </li>
        
      </ul>
    </article>
    
    <article>
      <h1>Hands-on</h1>
      <p>Let's cook!</p>
    </article>
    
    <article>
      <h2>Obrigado</h2>
      <ul>
        <li>
          <a target="_blank" href="http://docs.meteor.com">meteor.com</a>
        </li>
        <li>
          <a target="_blank" href="https://www.friendtrumps.com">friendtrumps.com</a>
        </li>
        <li>
          <a target="_blank" href="http://telesc.pe/">telesc.pe</a>
        </li>
        <li>
          <a target="_blank" href="http://www.eventedmind.com/">eventedmind.com</a> - Vídeos avançados
        </li>
      </ul>
    </article>
  </section>
</body>

